
/* adaptation for */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


/* header style */

header {
    display: flex;
}
.company-fool {
    margin: 0 auto 0 auto;

}
.header {
    width: 100%;
    height: 230px;
    background-color: #dcdcdc;
}
.grey_block {
    width: 100px;
    height: 100px;
    background-color: #767676;
}
.company {
    width: 273px;
    height: 100px;
}

.number {
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    color: #777777;
    line-height: 10px;
}

/* menu stile */

.menu {
    background-color: #777777;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    z-index: 5;
    position: relative;

}

.menu {
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: underline;
    display: flex;

}

a{
    text-decoration: none;
    color: inherit;
}

.menu_ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-left: 100px;
}

.li_1 {
    float: left;
    margin-right: 5px;
}

.a_1 {
    color: #ffffff;

}
.qq{
    margin: 18px auto 0 auto;
}


.li_1 :after {
    content: "|";
    margin-left: 10px;
    padding-right: 10px;
}

.li_2 :last-child:after {
    content: "";
}


/* image style */
.slider {
    width: 100%;
    height: 468px;
    display: inline-block;
    vertical-align: middle;
    z-index: 4;
    position: relative;
}

.image {
    width: 1248px;
    height: 468px;
    margin: 0 auto;
}


/* content style */
.content {
    width: 100%;
    height: 1000px;
}

.h1_1 {
    font-family: 'PT Sans', sans-serif;;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.news_cons{
    font-family: 'PT Sans', sans-serif;;
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 00.025em;
    color: #ffffff;
    font-style: normal;

}
.br_14 {
    font-family: 'PT Sans', sans-serif;;
    font-size: 14px;
}
.br_15 {
    line-height: 10px;
}


.br_a {
    font-family: 'PT Sans', sans-serif;;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 00.025em;
    color: #ffffff;
    font-style: normal;
}
.news {
    width: 350px;
    min-height: 560px;
    height: auto;
    background-color: #767676;

}

.a_news {
    color: #ffffff;
}

.dc_p {
    font-family: 'PT Sans', sans-serif;;
    font-size: 40px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}
.company_pp {
    font-family: 'PT Sans', sans-serif;;
    line-height: 10px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    font-size: 14px;
}

/* footer style */
.image_2 {
    width: 36px;
    height: 38px;
}

footer {
    width: 100%;
    height: 260px;
    background-color: #777777;
}

.div_footer {
    color: #ffffff;
    line-height: 15px;
}

.li_footer {
    list-style-type: none;
}

.ul_footer {
    margin-left: 0;
    padding-left: 0;
}

.div_menuf {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #ffffff;

}

.creating {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
}



a:hover{
    border-bottom: 1px solid #ffffff;
}


.company {

    float: left;
    margin-top: 65px;
    margin-right: 400px;
}

.number {
    float: right;
    margin-top: 45px;
    margin-left: 400px;
}
/* menu location */


.slider {
    margin-top: -50px;
    display: flex;
}



/* content location */

.content {
    display: flex;
}
.news {
    padding-left: 30px;
    padding-top: 1px;
    float: left;
    margin-top: 30px;
}
.br_a {
    padding-left: 190px;
    padding-top: 40px;
}


.full_comp {
    float: left;
    margin-left: 70px;
}

/* footer location */
footer {
    display: flex;
}

.footer_1 {
    margin: 0 auto 0 auto;
}

.div_footer {
    float: left;
    margin-top: 42px;
}
.div_menuf {
    float: left;
    margin-left: 220px;
    margin-top: 38px ;
}

.img_footer {
    float: left;
    margin-top: 57px;
    margin-left: 250px;
}

.creating {
    float: left;
    margin-left: 10px;
    margin-top: 47px;
}